// COLORS
$color-primary: #fff;
$desc-color: #666;
$btn-bg: #0869cd;

// Container
$width-container: 1200px;
$p-container: 15px;

// FONTS
$font-stack:'Poppins', sans-serif;
$roboto-font:'Roboto', sans-serif;
