.carousel {

     
    

    &__item {
        width: auto;
        padding: 0;

        &:not(:last-child){
            margin-right: 10px;
        }
    }

    &__btn {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
        background: #d4d4d4;
    }

    &__btn--active {
        background: #fd6666;
    }
}

@media screen and (max-width:768px){
    .carousel__list{
        display: none;
    }
}