.nav {
    background: #0c549f;
    padding: 15px 0 18px 0 ;
    border-top: 1px solid #276Cb2;

    &__item{
        &:hover .nav__dropw-down{
            opacity: 1;
            visibility: visible;
        }

        &:hover .nav__link{
            background: #105caa; 
        }
    }

    &__link {
        font-size: 12px;
        line-height: 20px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        padding: 20px;
        transition: background 0.4s ease;
    }

    &__item--active &__link{
        background: #105caa;
    }

}

.bi-chevron-down{
    margin-left: 5px;
}

@media screen and (max-width:768px){
    .nav{
        display: none;
    }
}