.phone {

    &__usd {
        color: #da465b;
    }

    &__title {
        font-size: 2rem;
    }

    &__desc {
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 45px;
    }

    &__btn {
        background:#da465b;;
    }
}   